@model aspApp.Models.User

@{
    Layout = null;
}

<script>
    function closeModalButton() {
        closeModal()
    }
</script>

<form asp-action="EditUser" method="post" id="formEditUser">
    <div class="popup_div shadow-2 modal_none" id="modalEdit">
        <div>
            <a class="close_modal" onclick="closeModalButton()">X</a>
            <h5 class="title_modal">Edit User</h5>
        </div>
        <input type="hidden" asp-for="@Model.Id" />
        @*<label for="">#: 1</label>*@

        <div class="popup_items">
            <label for="">Id:</label>
            <input asp-for="@Model.Id" readonly />
            <label for="">Username:</label>
            <input asp-for="@Model.Username" />
            <label for="">Phone:</label>
            <input asp-for="@Model.Phone" />
            <label for="">eMail:</label>
            <input asp-for="@Model.EMail" />
            <label for="">Birthday:</label>
            <input asp-for="@Model.Birthday" />
        </div>

        <a class="action_good">Save</a>
    </div>
</form>